<p id="notice"><%= notice %></p>

<p>
  <b>Campaign:</b>
  <%= @add.campaign %>
</p>

<p>
  <b>Budget:</b>
  <%= @add.budget %>
</p>

<p>
  <b>Acount no:</b>
  <%= @add.acount_no %>
</p>


<%= link_to 'Edit', edit_add_path(@add) %> |
<%= link_to 'Back', adds_path %>
